@import "bower_components/patternfly/less/patternfly.less";
@fa-font-path:      "bower_components/patternfly/components/font-awesome/fonts/";
@font-path:         "bower_components/patternfly/dist/fonts";
@icon-font-path:    "bower_components/patternfly/components/bootstrap/fonts/";

//navbar changes to make it taller ==========================================================

@media (min-width: @grid-float-breakpoint) {

  .navbar-header{
    padding: 5px 0;
  }
  
  .navbar-pf .navbar-utility  > li > a {
  padding: 12px 10px;}
  
  .navbar-pf .navbar-utility li.dropdown > .dropdown-toggle .pficon-user{
    top: 12px;
  }
}

@media (max-width: @grid-float-breakpoint-max) {
  .navbar-pf {
    padding-top: 1px;
  }
}

//initial page

.container {
  text-align: center;
}

h1 {
  margin-top: @grid-gutter-width*3;
  padding-bottom: @grid-gutter-width*2;
  margin-bottom: @grid-gutter-width;
  background: url(img/ic-welcome.png) no-repeat center bottom;
}

h2 {
  font-size: ceil(@font-size-base * 1.5);
  margin-bottom: @grid-gutter-width/2;
}

.align-center {
  margin: 0 auto;
  float: none;
}

.form-inline.fluid > div {
  display: table;
  width: 100%;

  .form-group {
    display: table-cell;
    width: 100%;
  }
  
  .form-control {
    width: inherit;
  }
}

.input-group {
  
  .form-control.input-lg {
    margin-bottom: 5px;
    height: 32px;
  }
  
  .input-group-btn {
    vertical-align: top;

    .btn {
      line-height: 1.2857142857;
    }
  }
}

.help-block {
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
}

.form-group .spinner {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: @grid-float-breakpoint-max) {
  .input-group {
    display: block;
    
    .input-group-btn {
      clear: both;
      display: block;
      width: 100%;
    }
    
    .btn-primary {
      margin-top: @grid-gutter-width/4;
    }
  }
}