@import "bower_components/patternfly/less/patternfly.less";
@fa-font-path:      "bower_components/patternfly/components/font-awesome/fonts/";
@font-path:         "bower_components/patternfly/dist/fonts";
@icon-font-path:    "bower_components/patternfly/components/bootstrap/fonts/";

//navbar changes to make it taller ==========================================================

@media (min-width: @grid-float-breakpoint) {

  .navbar-header{
    padding: 5px 0;
  }
  
  .navbar-pf .navbar-utility  > li > a {
  padding: 12px 10px;}
  
  .navbar-pf .navbar-utility li.dropdown > .dropdown-toggle .pficon-user{
    top: 12px;
  }
}

@media (max-width: @grid-float-breakpoint-max) {
  .navbar-pf {
    padding-top: 1px;
  }
}

//general styles

.container {
  text-align: center;
  margin-top: @grid-gutter-width/4;
}

h1 {
  margin-bottom: @grid-gutter-width;
  margin-top: 0;
}

.input-group-lg {
    
  .input-group-btn {
    vertical-align: top;

    .btn {
      line-height: 1.2857142857;
    }
  }
}

//initial page

.pg-insert-url {
  
  .container {
    margin-top: @grid-gutter-width*3;
  }
  
  h1 {
    background: url(img/ic-welcome.png) no-repeat center bottom;
    padding-bottom: @grid-gutter-width*2;
  }
  
  .input-group .form-control.input-lg {
    margin-bottom: 5px;
  }
}

h2 {
  font-size: ceil(@font-size-base * 1.5);
  margin-bottom: @grid-gutter-width/2;
}

.align-center {
  margin: 0 auto;
  float: none;
}

.form-inline.fluid > div {
  display: table;
  width: 100%;

  .form-group {
    display: table-cell;
    width: 100%;
  }
  
  .form-control {
    width: inherit;
  }
}

.help-block {
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
}

.form-group .spinner {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: @grid-float-breakpoint-max) {
  .input-group {
    display: block;
    
    .input-group-btn {
      clear: both;
      display: block;
      width: 100%;
    }
    
    .btn-primary {
      margin-top: @grid-gutter-width/4;
    }
  }
}

//metrics page

.panel-top {
  background-color: #ededed;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  padding: @grid-gutter-width/8*3 0;
}

.update-info {
  color: @gray-light;
  font-style: italic;
}

.pg-metrics h1 {
  clear: both;
  margin-top: @grid-gutter-width/4*3;
  margin-bottom: @grid-gutter-width;
}

.metrics-boxes {
  display: table;
  margin: 0 auto;
  max-width: 860px;
  width: 100%;
  
  li {
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    display: table-cell;
    margin: 0 10px;
    width: calc(~"100% / 3");
        
    a {
      border: 3px solid #eee;
      display: block;
      
      .metric-box-content {
        height: 245px;
      }

      h2 {
        background-color: #eee;
        color: #333;
        display: block;
        line-height: 45px;
        margin: 2px 2px @grid-gutter-width 2px;
      }
      
      .nav-arrow {
        background: #eee url(img/ic-arrow-down.png) no-repeat center center;
        display: block;
        height: 60px;
      }

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
      
      &:hover {
        border-color: #76bbdc;

        .nav-arrow {
          background-color: #76bbdc;
        }
      }
    }
    
    &.availability {
      background: url(img/mo-availability.jpg) no-repeat center 88px;
    }

    
    .data {
      font-size: 30px;
      font-weight: 100;
      color: #404040;
      
      &.one-line {
        line-height: 120px;
      }
      
      &.two-lines {
        padding-top: 15px;
        line-height: 45px;
        
        .fa {
          margin-left: 5px;
        }
      }
    }
  }
}

.fa-arrow-up {
  color: #3b9b31;
}

.fa-arrow-down {
  color: #cb0102;
}

