@import "bower_components/patternfly/less/patternfly.less";
@fa-font-path:      "bower_components/patternfly/components/font-awesome/fonts/";
@font-path:         "bower_components/patternfly/dist/fonts";
@icon-font-path:    "bower_components/patternfly/components/bootstrap/fonts/";

//navbar changes to make it taller ==========================================================

@media (min-width: @grid-float-breakpoint) {

  .navbar-header{
    padding: 5px 0;
  }
  
  .navbar-pf .navbar-utility  > li > a {
  padding: 12px 10px;}
  
  .navbar-pf .navbar-utility li.dropdown > .dropdown-toggle .pficon-user{
    top: 12px;
  }
}

@media (max-width: @grid-float-breakpoint-max) {
  .navbar-pf {
    padding-top: 1px;
  }
}

//general styles

.container {
  text-align: center;
  margin-top: @grid-gutter-width*3;
}

h1 {
  margin-bottom: @grid-gutter-width;
  margin-top: 0;
}

ul li {
  list-style: none;
}


//initial page

.pg-insert-url {
  
  h1 {
    background: url(img/ic-welcome.png) no-repeat center bottom;
    padding-bottom: @grid-gutter-width*2;
  }
}

h2 {
  font-size: ceil(@font-size-base * 1.5);
  margin-bottom: @grid-gutter-width/2;
}

.align-center {
  margin: 0 auto;
  float: none;
}

.form-inline.fluid > div {
  display: table;
  width: 100%;

  .form-group {
    display: table-cell;
    width: 100%;
  }
  
  .form-control {
    width: inherit;
  }
}

.input-group {
  
  .form-control.input-lg {
    margin-bottom: 5px;
    height: 32px;
  }
  
  .input-group-btn {
    vertical-align: top;

    .btn {
      line-height: 1.2857142857;
    }
  }
}

.help-block {
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
}

.form-group .spinner {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: @grid-float-breakpoint-max) {
  .input-group {
    display: block;
    
    .input-group-btn {
      clear: both;
      display: block;
      width: 100%;
    }
    
    .btn-primary {
      margin-top: @grid-gutter-width/4;
    }
  }
}

//metrics page

.pg-metrics {
  
}

.metrics-boxes {
  display: table;
  width: 100%;
  
  li {
    display: table-cell;
    background-color: #f2f2f2;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    
    a {
      display: block;
      padding: 20px;
      min-height: 210px;
      
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
      
      h2 {
        margin-top: 0;
      }
    }
    
    .data {
      font-size: 30px;
      font-weight: 100;
      color: #404040;
      
      &.one-line {
        line-height: 120px;
      }
      
      &.two-lines {
        padding-top: 15px;
        line-height: 45px;
        
        .fa {
          margin-left: 5px;
        }
      }
    }
  }
}

.fa-arrow-up {
  color: #3b9b31;
}

.fa-arrow-down {
  color: #cb0102;
}

