// Overwriting Bootstrap variables

@body-bg:                   #090e28;
@gray-dark:                 #ffffff;
@brand-primary:             #f7941d;
@grid-gutter-width:         20px;
@font-family-sans-serif:   "Avenir Next", AvenirLTStd, Avenir, 'Open Sans', sans-serif;
@font-family-serif:         "Trajan W08 Regular", "Trajan Pro", "Times New Roman", Times, serif;

@btn-font-weight:           500;
@btn-primary-border:        transparent;